#game-grid {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    width: 100%;
}

.row {
    display: flex;
    height: 30px;
    /* border: 2px solid red; */
    width: 100%;
}

.cell {
    width: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.snake {
    background-color: red;
}

.food {
    background-color: green;
}